# Virtual environmnet
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Mac specific
.DS_Store

# Environment variables
.env

# Test databases
test.db
*.db-journal

# Test coverage
htmlcov/
.coverage
.pytest_cache/